p {
  font-size: 1.25em;
}

footer {
  background: #abb9df;
  padding: 0.5em; 
  text-align: center;
}

.country {
   fill : #cccccc;
   stroke : #333333;
   stroke-width : 0.5
}

.selected {
  fill: #44ab66;
  stroke: #080808;
  stroke-width: 1.5px;
}

.centerBlock {
  display: table;
  margin: auto;
}

.header {
  background: #abb9df;
  padding: 2em; 
  text-align: center;
}
  
#settings {
  background: #cccccc;
  padding: 1em;
  margin: 1em;
}

#map {
  background : #7baabb
}

#graph {
  visibility: hidden;
  margin: auto;
  padding: 1em;
  background:#cccccc;
}

#legend1 {
  fill: #e41a1c;
}

#legend2 {
  fill: #0377fc;
}